// Variables

// font
@font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;

// base colors
@default-color: #007aff;

@blue:#007aff;
@red: #ff3b30;
@white: #ffffff;
@black: #000000;
@lightblue: #5ac8fa;
@yellow: #ffcc00;
@orange: #ff9500;
@pink: #ff2d55;
@green: #4cd964;
@gray: #8e8e93;

@colors: blue, red, lightblue, yellow, orange, pink, green, gray;

// common colors
@color-text: #333;
@color-text-muted: #666;

@color-background: #FFFFFF;
@color-background-over: rgba(0, 0, 0, .05);
@color-background-back: #F3F3F3;

@color-border: #DDD;

// button colors
@button-default: @default-color;

@button-primary: #0275D8;
@button-success: #4CD964;
@button-info: #50BFFF;
@button-warning: #F7BA2A;
@button-danger: #FF3B30;
@button-link: transparent;

// switch colors
@toggle-active: @default-color;
@toggle-disabled: #d5d5d5;

// dialog
@modal-background: #fff;
@modal-button-color: @default-color;
@modal-border-color: @gray;
@modal-duration: 300ms;

@modal-zIndex: 11000;
@modal-overlay-background: rgba(0, 0, 0, .3);

